* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
     
  body{
    font-family: "roboto", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .contenedor{
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    width: 400px;
    min-width: 100%;
  }
  
  .header{
    border-bottom: 1px solid #f0f0f0;
    background-color: #3134ff;
    padding: 10px 40px;
  }
   
  .header h2{
    text-align: center;
    font-size: 35px;
    font-family: 'Courgette', cursive;
    color: #ffffff;
    margin: 0;
  }
  
  .formulario{
    padding: 30px 40px;
  }
  
  .form-control{
    margin-bottom: 10px;
    padding-bottom: 10px;
    position: relative;
  }
  
  .form-control .label-formulario{
    display: inline-block;
    margin-bottom: 5px;
    font-family: 'Courgette';
  }
  
  .form-control input{
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    font-family: inherit;
    font-size: 15px;
    padding: 10px;
    width: 100%;
  }
  
  .form-control input:focus{
    outline: 0;
    border-color: #777;
  }
  
   
  
  .btn {
    background-color: #3134ff;
    border: 2px solid #3134ff;
    border-radius: 4px;
    color: #fff;
    display: block;
    font-family: inherit;
    font-size: 16px;
    padding: 10px;
    margin-top: 20px;
    width: 100%;
  }
  
  p {
    text-align: center;
    margin-top: 10px;
    font-family: 'Courgette', cursive;
  }
  
  .enlace {
    margin-left: 5px;
    font-weight: 600;
    color: #3134ff;
  }

  .error {
    top: 60px; 
    position: absolute;
    color: #e02d00;
    font-size: 18px;
  }